
.wrapper {
    width: 50%; 
    max-width: 600px; 
    margin: 50px auto; 
    padding: 40px;
    background: #ffffff; 
    border: 1px solid #ddd; 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box; 
    position: relative; 
}

header {
    font-size: 24px;
    color: #a0496c;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.field {
    margin-bottom: 20px;
    position: relative; 
}


.inputField {
    width: 100%;
    padding: 10px 30px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Arial', sans-serif; 
    color: #ababab; 
    background-color: #fff; 
    box-sizing: border-box; 
}

select,
textarea {
    width: 100%; 
    padding: 10px 30px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Arial', sans-serif; 
    color: #ababab;
    background-color: #fff; 
    box-sizing: border-box; 
}

.submitButton {
    background: #a0496c;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
}

.submitButton:hover {
    background: #7c0032;
}

.errorTxt {
    color: #f63c85;
    font-size: 12px;
    margin-top: 5px;
}
