body {
    background-color: #f2e1e9; 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
}

.wrapper {
    width: 50%; 
    max-width: 600px;
    margin: 50px auto; 
    padding: 40px;
    background: #ffffff; 
    border: 1px solid #ddd; 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    box-sizing: border-box; 
    position: relative; 
}

header {
    font-size: 24px;
    color: #a0496c;
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5em;
}

.field {
    margin-bottom: 20px;
    position: relative; 
}

.inputArea {
    position: relative; 
    display: flex; 
    align-items: center; 
}


input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%; 
    padding: 10px 10px 10px 40px; 
    font-size: 14px;
    color: #333; 
    border: 1px solid #e3d6dd;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0;
    line-height: 1.5;
}


input[type="submit"] {
    background: #a0496c;
    color: #ffffff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; 
}

input[type="submit"]:hover {
    background: #7c0032;
}


.icon {
    position: absolute;
    left: 10px; 
    color: #a0496c;
    pointer-events: none;
}


.errorTxt {
    color: #f63c85;
    font-size: 12px;
    margin-top: 5px; 
}

/* Sign Up Text */
.signTxt {
    text-align: center;
    margin-top: 20px;
    color: #a0496c;
}

.signTxt a {
    color: #f63c85;
    text-decoration: none;
    font-weight: bold;
}

.signTxt a:hover {
    color: #7c0032;
}

.eyeIcon {
    position: absolute;
    right: 10px; 
    cursor: pointer; 
    color: #a0496c; 
    font-size: 16px; 
    pointer-events: auto; 
}


.inputArea {
    position: relative; 
    display: flex; 
    align-items: center; 
}
