/* Importing font */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif
}

.sidebar {

    max-width: 300px; /* Set a max-width for sidebar */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; /* Background color to ensure no white space issues */
    box-sizing: border-box; /* Include padding in element's width and height */
}

/* Most popular section styling */
.mostPopular {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between items */
}

/* Heading style within Most Popular section */
.mostPopular h2 {
    margin: 0 0 20px;
    font-size: 1.5rem;
    color: #333;
    font-family: 'Josefin Sans', sans-serif;
}

/* Popular destination styling */
.popularDestination {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between elements in the destination */
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

/* Destination info styling */
.destinationInfo {
    display: flex;
    flex-direction: column;
}

/* Destination details styling */
.destinationDetails h3 {
    margin: 0 0 10px;
    font-size: 1.25rem;
    color: #333;
    font-family: 'Josefin Sans', sans-serif;
}

/* Paragraph style within destination details */
.destinationDetails p {
    margin: 0;
    color: #666;
}

/* Image container styling */
.imageContainer {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between image and button */
    margin-top: 10px;
    position: relative;
}

/* Destination image styling */
.destinationImage {
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Button to see more destinations */
.seeMoreButton {
    display: block;
    width: 100%; /* Full width of the container */
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    margin-top: 10px; /* Space above the button */
}

.seeMoreButton:hover {
    background-color: #0056b3;
}

/* Link to see all destinations */
.seeAllDestinations {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.seeAllDestinations:hover {
    text-decoration: underline;
}

/* Author style */
.addedBy {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    color: #d94fd9;
    font-weight: bold;
    margin-top: 5px;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
}

.clickable:hover {
    color: #0056b3;
}

/*todo check if i can position the button better*/