@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif
}

.sidebar {

    max-width: 300px; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff; 
    box-sizing: border-box;
}

.mostPopular {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}


.mostPopular h2 {
    margin: 0 0 20px;
    font-size: 1.5rem;
    color: #333;
    font-family: 'Josefin Sans', sans-serif;
}

.popularDestination {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}


.destinationInfo {
    display: flex;
    flex-direction: column;
}

.destinationDetails h3 {
    margin: 0 0 10px;
    font-size: 1.25rem;
    color: #333;
    font-family: 'Josefin Sans', sans-serif;
}

.destinationDetails p {
    margin: 0;
    color: #666;
}

.imageContainer {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-top: 10px;
    position: relative;
}

.destinationImage {
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.seeMoreButton {
    display: block;
    width: 100%; 
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    margin-top: 10px; 
}

.seeMoreButton:hover {
    background-color: #0056b3;
}

.seeAllDestinations {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

.seeAllDestinations:hover {
    text-decoration: underline;
}

.addedBy {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    color: #d94fd9;
    font-weight: bold;
    margin-top: 5px;
}

/* .clickable {
    cursor: pointer;
    text-decoration: underline;
}

.clickable:hover {
    color: #0056b3;
} */

